* {
    padding: 0; margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    color: #606060;
    /* background: #fbfbfb; */
}

.landing {
    height: 86vh;
}
.landing div {
    font-size: 135%;
    color: white
}

.bg-grey {
    background: #EFF8FA;
}

footer img {
    width: 150px;
    height: 150px;
}

footer div{
    font-weight: bold;
    color: #EFF8FA;
}

footer ion-icon {
    font-size: 150%;
    color: #EFF8FA;
}